<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            box-sizing: border-box;
        }
        /* #mailbox{
            display:flex;
        } */
    </style>
</head>
<body>
    <div id="mailbox">
    <button class="box">one</button>
    <button class="box">two</button>
    <button class="box">three</button>
    <p  style="background-color: aqua;">four</p>
    <h1>five</h1>
    </div>
</body>
</html>


